<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Bem-vindo ao gerenciador de musicos</a> | 
            <a href="/users/add">Adicionar novo musico</a> | 
            <a href="/users">Lista de todos inseridos no sistema</a>
        </div>    
        <h1><%= title %></h1>